<?xml version="1.0"?>

<configuration>
    <system.web>
        <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="/error.aspx" />
    </system.web>
    <appSettings>
        <add key="alertFeed" value="http://alerts.weather.gov/cap/wwaatmget.php?x=VAC069&amp;y=0" />
    </appSettings>
</configuration>
